.cor-1{
    background: hsl(171, 66%, 44%);
    color: #f7f7f7;
}

.cor-2{
    background: hsl(233, 100%, 69%);
    color: #f7f7f7;
}

.cor-3{
    color: 	hsl(210, 10%, 33%);
}

.cor-4{
    color: hsl(201, 11%, 66%);
}
