.container-main{
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    bottom: 80px;
    text-align: center;
}

.container-main p{
    font-size: 18px;
}

.container-main h1{
    margin-bottom: 10px;
}

